@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

@import url("https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@800,500,100,700,400,300,200,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 800;
}

img {
  width: 100%;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #0b0a12;
}

$light: #fff;
$dark: #000;

.wrapper {
  display: grid;
  height: 100vh;
  width: min(calc(100vw - 5rem), 1326px);
  margin-inline: auto;
  place-items: center;
}

.channel_info {
  display: flex;
 
  gap: 8px;
  color: $light;

  .channel_info_img {
    width: 64px;
    height: 64px;
    border-radius: 50%;

  }

  .channel_info_details {
    display: flex;
  }
}